In [1]:
#pandas文档
#http://pandas.pydata.org/

In [2]:
#11.1日期和时间数据类型及工具
from datetime import datetime

In [3]:
now=datetime.now()

In [4]:
now

datetime.datetime(2019, 7, 17, 14, 6, 31, 852260)

In [5]:
now.year,now.month,now.day

(2019, 7, 17)

In [6]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [7]:
delta

datetime.timedelta(days=926, seconds=56700)

In [8]:
delta.days

926

In [9]:
delta.seconds

56700

In [10]:
from datetime import timedelta

In [11]:
start=datetime(2011,1,7)

In [12]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

# 字符串和datetime的相互转换

In [14]:
stamp=datetime(2011,1,3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [17]:
type(stamp)

datetime.datetime

In [18]:
value='2011-01-03'

In [19]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs=['7/6/2011','8/6/2011']

In [21]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse

In [23]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
datestrs=['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [26]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [27]:
idx=pd.to_datetime(datestrs + [None])

In [28]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
idx[2]

NaT

# 11.2 时间序列基础

In [30]:
from datetime import datetime

In [31]:
import numpy as np
def test():
    x=np.random.randint(0,10)
    y=np.random.randint(0,5)
    if x+2*y==10:
        return (x,y)
s=set() 
for i in range(1000000):
    s.add(test())
s

{(2, 4), (4, 3), (6, 2), (8, 1), None}

In [33]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [34]:
ts=pd.Series(np.random.randn(6),index=dates)

In [35]:
ts

2011-01-02   -1.232392
2011-01-05    2.082765
2011-01-07    0.689109
2011-01-08   -1.334723
2011-01-10   -1.008184
2011-01-12    0.388370
dtype: float64

In [36]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [37]:
ts+ts[::2]

2011-01-02   -2.464783
2011-01-05         NaN
2011-01-07    1.378217
2011-01-08         NaN
2011-01-10   -2.016368
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp=ts.index[0]

# 索引、选取、子集构造

In [40]:
stamp=ts.index[2]

In [41]:
ts[stamp]

0.6891086551201312

In [42]:
ts['1/10/2011']

-1.0081838084693906

In [43]:
ts['20110110']

-1.0081838084693906

In [44]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [45]:
longer_ts

2000-01-01    0.117775
2000-01-02   -0.265832
2000-01-03   -1.308492
2000-01-04    0.314242
2000-01-05   -0.618472
2000-01-06   -0.905735
2000-01-07    0.437677
2000-01-08   -1.674108
2000-01-09   -1.633396
2000-01-10   -0.279808
2000-01-11   -0.740969
2000-01-12    0.015799
2000-01-13    1.083596
2000-01-14    1.797005
2000-01-15   -0.807457
2000-01-16    1.117115
2000-01-17    1.080351
2000-01-18   -0.848308
2000-01-19    0.003330
2000-01-20    1.104533
2000-01-21   -0.581560
2000-01-22   -0.288568
2000-01-23    0.466103
2000-01-24    1.081233
2000-01-25   -0.588457
2000-01-26    0.173146
2000-01-27    0.151817
2000-01-28    1.049637
2000-01-29   -0.151766
2000-01-30   -0.942934
                ...
2002-08-28    0.717830
2002-08-29   -0.362668
2002-08-30    1.047149
2002-08-31    1.212256
2002-09-01    0.764795
2002-09-02   -1.999256
2002-09-03   -1.440492
2002-09-04    0.808069
2002-09-05    1.299933
2002-09-06    0.291643
2002-09-07   -0.389840
2002-09-08   -1.400032
2002-09-09   -1.198318
2002-09-10   -0.082434
2002-09-11   -0.418046
2002-09-12   -1.064926
2002-09-13    0.879032
2002-09-14    1.930099
2002-09-15   -2.463092
2002-09-16    0.669523
2002-09-17   -1.170012
2002-09-18    0.802699
2002-09-19   -0.886413
2002-09-20    1.198793
2002-09-21    0.596287
2002-09-22    0.186366
2002-09-23   -1.037583
2002-09-24    1.127749
2002-09-25   -0.330295
2002-09-26    1.640985
Freq: D, Length: 1000, dtype: float64

In [46]:
longer_ts['2001']

2001-01-01    0.601000
2001-01-02   -0.558430
2001-01-03   -0.013741
2001-01-04   -0.179176
2001-01-05    1.169564
2001-01-06    0.205827
2001-01-07   -0.807233
2001-01-08    2.450912
2001-01-09   -0.173039
2001-01-10    0.523916
2001-01-11    2.161630
2001-01-12   -0.693799
2001-01-13   -1.249363
2001-01-14    1.577053
2001-01-15    2.245264
2001-01-16    1.561982
2001-01-17   -0.382854
2001-01-18    0.925600
2001-01-19    1.951993
2001-01-20   -1.134039
2001-01-21   -0.485693
2001-01-22   -0.571378
2001-01-23   -1.418345
2001-01-24   -1.015475
2001-01-25   -0.424634
2001-01-26    1.884039
2001-01-27    0.767535
2001-01-28    0.379954
2001-01-29   -0.893255
2001-01-30    0.121611
                ...
2001-12-02   -1.118915
2001-12-03    0.299558
2001-12-04    1.886306
2001-12-05    0.592712
2001-12-06   -0.167382
2001-12-07    0.309788
2001-12-08   -0.225208
2001-12-09    0.639410
2001-12-10    0.567860
2001-12-11   -0.540565
2001-12-12    0.394587
2001-12-13   -0.658098
2001-12-14    0.232146
2001-12-15   -0.638623
2001-12-16    0.427993
2001-12-17    0.458377
2001-12-18    0.194777
2001-12-19   -0.202744
2001-12-20    0.039893
2001-12-21   -0.456654
2001-12-22   -1.811869
2001-12-23    0.735840
2001-12-24    0.321732
2001-12-25    0.803490
2001-12-26    1.777338
2001-12-27    0.648853
2001-12-28   -0.545340
2001-12-29    1.297749
2001-12-30   -0.904723
2001-12-31    0.414490
Freq: D, Length: 365, dtype: float64

In [47]:
longer_ts['2001-05']

2001-05-01   -0.582736
2001-05-02    0.082059
2001-05-03    1.639595
2001-05-04   -1.829358
2001-05-05    0.617067
2001-05-06    1.022034
2001-05-07    1.555093
2001-05-08   -0.321447
2001-05-09    0.518662
2001-05-10   -0.608557
2001-05-11   -1.025232
2001-05-12   -0.844534
2001-05-13   -1.197994
2001-05-14   -1.072158
2001-05-15    0.278251
2001-05-16    0.641024
2001-05-17    0.144634
2001-05-18    1.091129
2001-05-19    0.165324
2001-05-20    2.209529
2001-05-21   -1.020649
2001-05-22   -1.046298
2001-05-23   -0.976040
2001-05-24   -1.194932
2001-05-25   -0.414205
2001-05-26    0.118041
2001-05-27    0.879317
2001-05-28   -2.836610
2001-05-29   -1.583534
2001-05-30   -0.704973
2001-05-31   -0.828606
Freq: D, dtype: float64

In [59]:
ts[datetime(2010,1,13):]

2011-01-02   -1.232392
2011-01-05    2.082765
2011-01-07    0.689109
2011-01-08   -1.334723
2011-01-10   -1.008184
2011-01-12    0.388370
dtype: float64

In [56]:
ts

2011-01-02   -1.232392
2011-01-05    2.082765
2011-01-07    0.689109
2011-01-08   -1.334723
2011-01-10   -1.008184
2011-01-12    0.388370
dtype: float64

In [60]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.689109
2011-01-08   -1.334723
2011-01-10   -1.008184
dtype: float64

In [62]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.232392
2011-01-05    2.082765
2011-01-07    0.689109
2011-01-08   -1.334723
dtype: float64

In [63]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [65]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [66]:
long_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])

In [68]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.454048  0.249905  1.009099  2.166836
2001-05-09 -0.111875 -1.106538 -0.591924 -0.957349
2001-05-16  0.690011 -1.797091  0.043175 -0.990672
2001-05-23 -1.227985 -0.167283  0.943808 -0.114157
2001-05-30  1.643774 -0.433851  0.208494 -0.783438

# 带有重复索引的时间序列

In [69]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts=pd.Series(np.arange(5),index=dates)

In [70]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [71]:
dup_ts.index.is_unique

False

In [72]:
dup_ts['1/3/2000']

4

In [73]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [74]:
grouped=dup_ts.groupby(level=0)

In [75]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [76]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 11.3日期的范围、频率以及移动

In [77]:
ts

2011-01-02   -1.232392
2011-01-05    2.082765
2011-01-07    0.689109
2011-01-08   -1.334723
2011-01-10   -1.008184
2011-01-12    0.388370
dtype: float64

In [78]:
resamper=ts.resample('D')

In [79]:
resamper

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

# 生成日期范围

In [80]:
index=pd.date_range('2012-04-01','2012-06-01')

In [81]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [83]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [85]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

# 频率和日期偏移量

In [87]:
from pandas.tseries.offsets import Hour,Minute

In [88]:
hour=Hour()

In [89]:
hour

In [90]:
four_hours=Hour(4)

In [91]:
four_hours

In [92]:
#一般无需明确创建这样的对象，只需将诸如‘H’或‘4H’这样的字符串别名即可。在基础频率前面放上一个整数即可创建倍数

In [93]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [94]:
Hour(2)+Minute(30)

# WOM 日期 week of Month

In [95]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3fri')

In [96]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

# 移动（超前和滞后）数据

In [97]:
ts=pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [98]:
ts

2000-01-31   -1.198729
2000-02-29   -1.575599
2000-03-31   -1.196732
2000-04-30   -1.505449
Freq: M, dtype: float64

In [99]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.198729
2000-04-30   -1.575599
Freq: M, dtype: float64

In [100]:
ts.shift(-2)

2000-01-31   -1.196732
2000-02-29   -1.505449
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [101]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29    0.314391
2000-03-31   -0.240459
2000-04-30    0.257967
Freq: M, dtype: float64

In [102]:
ts.shift(2,freq='M')

2000-03-31   -1.198729
2000-04-30   -1.575599
2000-05-31   -1.196732
2000-06-30   -1.505449
Freq: M, dtype: float64

In [103]:
ts.shift(3,freq='D')

2000-02-03   -1.198729
2000-03-03   -1.575599
2000-04-03   -1.196732
2000-05-03   -1.505449
dtype: float64

In [104]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -1.198729
2000-02-29 01:30:00   -1.575599
2000-03-31 01:30:00   -1.196732
2000-04-30 01:30:00   -1.505449
Freq: M, dtype: float64

# 通过偏移量对日期进行位移

In [105]:
from pandas.tseries.offsets import Day,MonthEnd

In [106]:
now=datetime(2011,11,17)

In [107]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [108]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [111]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [116]:
offset=MonthEnd()

In [117]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [118]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [119]:
#日期偏移量还有一个巧妙地用法，即结合groupby使用这两个‘滚动’方法：
ts=pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [120]:
ts

2000-01-15    0.747584
2000-01-19    0.988929
2000-01-23    0.544358
2000-01-27    0.484788
2000-01-31   -0.196210
2000-02-04   -0.316692
2000-02-08    1.458349
2000-02-12    0.912800
2000-02-16    0.043413
2000-02-20   -0.894026
2000-02-24   -0.953780
2000-02-28    1.276887
2000-03-03    1.236246
2000-03-07    0.619417
2000-03-11    0.830019
2000-03-15    0.325499
2000-03-19    1.573518
2000-03-23    2.758506
2000-03-27   -0.708336
2000-03-31   -1.351117
Freq: 4D, dtype: float64

In [121]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.513890
2000-02-29    0.218136
2000-03-31    0.660469
dtype: float64

In [122]:
ts.resample('M').mean()

2000-01-31    0.513890
2000-02-29    0.218136
2000-03-31    0.660469
Freq: M, dtype: float64

# 11.4 时区处理

In [125]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [126]:
tz=pytz.timezone('America/New_York')

In [127]:
tz

# 时区本地化和转换

In [128]:
rng=pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [129]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [130]:
ts

2012-03-09 09:30:00    1.362337
2012-03-10 09:30:00    0.421128
2012-03-11 09:30:00   -0.248049
2012-03-12 09:30:00   -1.797283
2012-03-13 09:30:00    0.962470
2012-03-14 09:30:00    1.385903
Freq: D, dtype: float64

In [131]:
print(ts.index.tz)

None

In [133]:
pd.date_range('3/9/2012 9:30',periods =10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [135]:
ts

2012-03-09 09:30:00    1.362337
2012-03-10 09:30:00    0.421128
2012-03-11 09:30:00   -0.248049
2012-03-12 09:30:00   -1.797283
2012-03-13 09:30:00    0.962470
2012-03-14 09:30:00    1.385903
Freq: D, dtype: float64

In [137]:
ts_utc=ts.tz_localize('UTC')

In [138]:
ts_utc

2012-03-09 09:30:00+00:00    1.362337
2012-03-10 09:30:00+00:00    0.421128
2012-03-11 09:30:00+00:00   -0.248049
2012-03-12 09:30:00+00:00   -1.797283
2012-03-13 09:30:00+00:00    0.962470
2012-03-14 09:30:00+00:00    1.385903
Freq: D, dtype: float64

In [139]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [141]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    1.362337
2012-03-10 04:30:00-05:00    0.421128
2012-03-11 05:30:00-04:00   -0.248049
2012-03-12 05:30:00-04:00   -1.797283
2012-03-13 05:30:00-04:00    0.962470
2012-03-14 05:30:00-04:00    1.385903
Freq: D, dtype: float64

In [142]:
ts_eastern=ts.tz_localize('America/New_York')

In [143]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.362337
2012-03-10 14:30:00+00:00    0.421128
2012-03-11 13:30:00+00:00   -0.248049
2012-03-12 13:30:00+00:00   -1.797283
2012-03-13 13:30:00+00:00    0.962470
2012-03-14 13:30:00+00:00    1.385903
Freq: D, dtype: float64

In [144]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    1.362337
2012-03-10 15:30:00+01:00    0.421128
2012-03-11 14:30:00+01:00   -0.248049
2012-03-12 14:30:00+01:00   -1.797283
2012-03-13 14:30:00+01:00    0.962470
2012-03-14 14:30:00+01:00    1.385903
Freq: D, dtype: float64

In [145]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

# 操作时区意识型 Timestamp对象

In [146]:
stamp=pd.Timestamp('2011-03-12 04:00')

In [147]:
stamp_utc=stamp.tz_localize('utc')

In [148]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [149]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [150]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [151]:
stamp_utc.value

1299902400000000000

In [155]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [156]:
from pandas.tseries.offsets import Hour

In [157]:
stamp=pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')

In [158]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [159]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [160]:
#夏令时转变前90分钟
stamp=pd.Timestamp('2012-11-04 00:30',tz='US/Eastern')

In [161]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [162]:
stamp+2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

# 不同时区之间的运算

In [163]:
#如果两个时间序列的时区不同，在将它们合并到一起时，最终结果就会是UTC

In [166]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq='B')

In [169]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [170]:
ts

2012-03-07 09:30:00    1.297746
2012-03-08 09:30:00   -0.933529
2012-03-09 09:30:00    0.918176
2012-03-12 09:30:00   -0.469591
2012-03-13 09:30:00   -1.600527
2012-03-14 09:30:00    0.318280
2012-03-15 09:30:00   -2.530532
2012-03-16 09:30:00   -0.205598
2012-03-19 09:30:00   -1.865828
2012-03-20 09:30:00    0.512273
Freq: B, dtype: float64

In [171]:
ts1=ts[:7].tz_localize('Europe/London')

In [172]:
ts2=ts1[2:].tz_convert('Europe/Moscow')

In [173]:
result=ts1+ts2

In [174]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [182]:
p=pd.Period(2007,freq='A-DEC')

# 11.5 时期及其算术运算

In [177]:
p

Period('2007', 'A-DEC')

In [178]:
p+5

Period('2012', 'A-DEC')

In [179]:
p-2

Period('2005', 'A-DEC')

In [181]:
pd.Period('2014',freq='A-DEC')-p

In [183]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')

In [184]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [185]:
pd.Series(np.random.randn(6),index=rng)

2000-01    1.110990
2000-02   -0.086531
2000-03   -0.909231
2000-04    0.894432
2000-05   -0.924652
2000-06    0.440942
Freq: M, dtype: float64

In [186]:
values=['2001Q3','2002Q2','2003Q1']

In [187]:
index=pd.PeriodIndex(values,freq='Q-DEC')

In [188]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

# 时期的频率转换

In [189]:
p=pd.Period('2007',freq='A-DEC')

In [191]:
p

Period('2007', 'A-DEC')

In [195]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [196]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [197]:
p=pd.Period('2007',freq='A-JUN')

In [199]:
p

Period('2007', 'A-JUN')

In [200]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [201]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [202]:
p=pd.Period('Aug-2007','M')

In [203]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [204]:
rng=pd.period_range('2006','2009',freq='A-DEC')

In [205]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [206]:
ts

2006   -0.842277
2007    0.950512
2008    0.005339
2009    1.238089
Freq: A-DEC, dtype: float64

In [207]:
ts.asfreq('M',how='start')

2006-01   -0.842277
2007-01    0.950512
2008-01    0.005339
2009-01    1.238089
Freq: M, dtype: float64

In [208]:
ts.asfreq('B',how='end')

2006-12-29   -0.842277
2007-12-31    0.950512
2008-12-31    0.005339
2009-12-31    1.238089
Freq: B, dtype: float64

# 按季度计算的时期频率

In [209]:
p=pd.Period('2012Q4',freq='Q-JAN')

In [211]:
p

Period('2012Q4', 'Q-JAN')

In [212]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [213]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [214]:
p4pm=(p.asfreq('B','e')-1).asfreq('T','s')+16*60

In [215]:
p4pm

Period('2012-01-30 16:00', 'T')

In [216]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [217]:
rng=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [218]:
ts=pd.Series(np.arange(len(rng)),index=rng)

In [219]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [220]:
new_rng=(rng.asfreq('B','e')-1).asfreq('T','s')+16*60

In [221]:
ts.index=new_rng.to_timestamp()

In [222]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

# 将Timestamp 转换为Period（及其反向过程）

In [223]:
rng=pd.date_range('2000-01-01',periods=3,freq='M')

In [224]:
ts=pd.Series(np.random.randn(3),index=rng)

In [225]:
ts

2000-01-31   -1.484458
2000-02-29    0.161237
2000-03-31    0.303915
Freq: M, dtype: float64

In [227]:
pts=ts.to_period()

In [228]:
pts

2000-01   -1.484458
2000-02    0.161237
2000-03    0.303915
Freq: M, dtype: float64

In [229]:
rng=pd.date_range('1/20/2000',periods=6,freq='D')

In [230]:
ts2=pd.Series(np.random.randn(6),index=rng)

In [231]:
ts2

2000-01-20   -0.772928
2000-01-21   -0.386901
2000-01-22   -0.173494
2000-01-23   -1.323102
2000-01-24   -1.245805
2000-01-25   -1.074586
Freq: D, dtype: float64

In [232]:
ts2.to_period('M')

2000-01   -0.772928
2000-01   -0.386901
2000-01   -0.173494
2000-01   -1.323102
2000-01   -1.245805
2000-01   -1.074586
Freq: M, dtype: float64

In [234]:
pts=ts2.to_period()

In [235]:
pts

2000-01-20   -0.772928
2000-01-21   -0.386901
2000-01-22   -0.173494
2000-01-23   -1.323102
2000-01-24   -1.245805
2000-01-25   -1.074586
Freq: D, dtype: float64

In [236]:
pts.to_timestamp(how='end')

2000-01-20 23:59:59.999999999   -0.772928
2000-01-21 23:59:59.999999999   -0.386901
2000-01-22 23:59:59.999999999   -0.173494
2000-01-23 23:59:59.999999999   -1.323102
2000-01-24 23:59:59.999999999   -1.245805
2000-01-25 23:59:59.999999999   -1.074586
Freq: D, dtype: float64

# 通过数组创建PeriodIndex

In [237]:
data=pd.read_csv(r'C:\Users\86139\Desktop\examples_data_for_data_analysis\macrodata.csv')

In [238]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [239]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [240]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
10     3.0
11     4.0
12     1.0
13     2.0
14     3.0
15     4.0
16     1.0
17     2.0
18     3.0
19     4.0
20     1.0
21     2.0
22     3.0
23     4.0
24     1.0
25     2.0
26     3.0
27     4.0
28     1.0
29     2.0
      ...
173    2.0
174    3.0
175    4.0
176    1.0
177    2.0
178    3.0
179    4.0
180    1.0
181    2.0
182    3.0
183    4.0
184    1.0
185    2.0
186    3.0
187    4.0
188    1.0
189    2.0
190    3.0
191    4.0
192    1.0
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [241]:
index=pd.PeriodIndex(year=data.year,quarter=data.quarter,freq='Q-DEC')

In [242]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [243]:
data.index=index

In [247]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64